@page "/groups/modify"
@page "/groups/modify/{Id}"

@using System.Text.Json.Serialization
@using Newtonsoft.Json
@using System.Net.Http.Headers
@using Retefagioli.Models
@using Retefagioli.Data
@inherits ComponentBase
@inject NavigationManager NavigationManager

@if (!Permissions.HasPermission)
{
    NavigationManager.NavigateTo("/login");
}

<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Name</label>
            <input type="text" class="form-control" id="nome" @bind="Name">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Aggiorna</button>
</form>

@code {

    [Parameter]
    public string? Id { get; set; }
    public string? Name { get; set; }

    GroupModel? changedGroup = null;

    static readonly string apiPathGroups = "https://datain-stage.azurewebsites.net/api/groups";

    public static void ShowGroup(GroupModel Group)
    {
        Console.WriteLine($"{Group.Id} - {Group.Name}");
    }

    static async Task<GroupModel?> GetGroupAsync(string id)
    {
        HttpClient client = new HttpClient();
        HttpResponseMessage response = await client.GetAsync(apiPathGroups + "/" + id);
        GroupModel? root = null;

        if (response.IsSuccessStatusCode)
        {
            string jsonString = await response.Content.ReadAsStringAsync();
            root = JsonConvert.DeserializeObject<GroupModel?>(jsonString);
        }

        return root;
    }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        Id = Id ?? "0";

        GroupModel? rootGroup = await GetGroupAsync(Id);
        changedGroup = rootGroup;
        if (changedGroup != null)
        {
            Name = changedGroup.Name;
        }
    }
}